<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Testng">
    <classes>
      <class name="tests.ViewMyFormsTest"/>
      <class name="tests.SpecificFormPageTest"/>
      <class name="tests.LoginTest"/>
      <class name="tests.SearchAllTest"/>
      <class name="tests.ForgotPasswordTest"/>
      <class name="tests.AccountTest"/>
    </classes>
  </test> <!-- -->
</suite> <!-- Suite -->
